body {
  height: 100%;
  overflow: hidden;
  background-color: #fffcf1;
}

.heading {
  font-family: "pf-pixelscript", sans-serif;
  font-weight: 400;
  font-size: 5vw;
  text-align: center; 
  animation: blinker 1s step-start infinite;
  pointer-events: none;

}


.heading2 {
  font-family: "pf-pixelscript", sans-serif;
  font-weight: 400;
  font-size: 70px;
  text-align: center; 
  margin-top:-50px;
}

.heading3{
  font-family: "pf-pixelscript", sans-serif;
  font-weight: 400;
  font-size: 70px;
  text-align: center; 
  animation: blinker 1s step-start infinite;
  cursor: pointer;
  pointer-events: none;


}

.corner-image {
  position: fixed;
  width:50px;
  height:50px;
  z-index: 600;
}


 .top-left {
  top: 0;
  left: 0;
}
.top-right {
  top: 0;
  right: 0;
}
.bottom-left {
  bottom: 0;
  left: 0;
}
 .bottom-right {
   bottom: 0;
   right: 0;
 }

 
 .page-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position:absolute;
  height:100vh;
  width:100vw;
  z-index: 500;
  background-color: #fffcf1;


}

.page-2{
  display: flex;
  flex-direction: column;
  position:absolute;
  height:100vh;
  width:100vw;
  align-items: center;
  justify-content: center;
  z-index:400;
  background-color: #fffcf1;


}

.page-3{
  display: flex;
  flex-direction: column;
  position:absolute;
  height:100vh;
  width:100%;
  align-items: center;
  justify-content: center;
  z-index:200;

}

.bodypage{
  position:absolute;
  height:100vh;
  width:100%;
  

}

.selectinks{
  display: flex;
  flex-wrap:wrap;
  max-width:400px;
  gap:50px;
}

.selectinks button{
  height: 100px;
  width:100px;
  cursor: pointer;
  border:none;

}

.selectinks button:hover{
  border: solid 4px;
}

#pink{
  background-color: #FF48B0;
}

#yellow{
  background-color: #FFE800;
}

#purple{
  background-color: #BB76CF;
}

#brightred{
  background-color: #F15060;
}

#blue{
  background-color: #62A8E5;
}

#black{
  background-color: #3D3B3A;
}

.pink{
  color: #FF48B0;
  opacity:0.25;
}

.yellow{
  color: #FFE800;
  opacity:0.25;
}

.purple{
  color: #BB76CF;
  opacity:0.25;
}

.brightred{
  color: #F15060;
  opacity:0.25;
}

.blue{
  color: #62A8E5;
  opacity:0.25;
}

.black{
  color: #3D3B3A;
  opacity:0.25;
}

.nodisplay{
  display: none;
}



.inks{
  max-width:400px;
  margin-left:80px;
}

.inks button{
  height: 40px;
  width:40px;
  cursor: pointer;
  border:none;

}

.inks button:hover{
  animation: blinker .5s step-start infinite;
}

.opacity{
  max-width:400px;
  margin-left:80px;
  margin-top:5px;
}

.opacity button{
  height: 40px;
  width:40px;
  cursor: pointer;
  border:none;

}

.opacity button:hover{
  animation: blinker .5s step-start infinite;
}

#twentyfive{
  opacity:25%;
}

#fifty{
  opacity:50%;
}

#seventyfive{
  opacity:75%;
}

#hundred{
  opacity:100%;
}

.twentyfive{
  opacity:25%;
}

.fifty{
  opacity:50%;
}

.seventyfive{
  opacity:75%;
}

.hundred{
  opacity:100%;
}


.backgroundpink{
  background-color:#FF48B0;
}

.backgroundyellow{
  background-color: #FFE800;
}

.backgroundpurple{
  background-color: #BB76CF;
}

.backgroundred{
  background-color: #F15060;
}

.backgroundblue{
  background-color: #62A8E5;
}

.backgroundblack{
  background-color: #3D3B3A;

}

#bodytxt{
  height:500px;
  width:900px;
  overflow:auto;
  background-color:none;
  margin-left:30%;
  padding:10px;
  font-family: "lft-etica-mono", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  line-height:170%;
  letter-spacing: 3px;
  opacity:0.25;
}



.title{
  font-family: "lft-etica-mono", monospace;
  font-weight: 800;
  font-style: normal;
  text-align: justify;
  line-height:150%;
  font-size:20px;
}

.subtitle{
  font-family: "lft-etica-mono", monospace;
  font-weight: 600;
  text-align: justify;
  line-height:150%;
  font-style: normal;
}

.boldtext{
  font-family: "lft-etica-mono", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  line-height:150%;
}

.opacityclick{
  font-family: "pf-pixelscript", sans-serif;
  font-weight: 400;
  margin-left:80px;
  margin-top:-80px;
  border:none;
  background-color: #fffcf1;
  font-size:30px;

}

.opacityclick:hover{
  animation: blinker .5s step-start infinite;
}



.restart{font-family: "pf-pixelscript", sans-serif;
  font-weight: 400;
  margin-left:80px;
  margin-top:-20px;
  border:none;
  background-color: #fffcf1;
  font-size:30px;

}

.restart:hover{
  animation: blinker .5s step-start infinite;

}

@keyframes blinker {
  50% {
    opacity: 0;
   }
 }

@media only screen and (max-width: 500px){
  .heading{
    font-size: 10vw;
    margin: 0 auto;
  }
  .bodypage{
    z-index: 100;
  }
  .inks{
    margin-left: 60px;
  }
    #bodytxt{
      width:50vw;
      margin-left:20%;
      padding:10px;
    }
    .selectinks{
      margin-left: 70px;
    }

    .reprinting{
      margin-top:110px;
    }
}